header 
{
    width: 100%;
    height: 60px ;
    background-color: rgb(0,0,0);

}

#nav 
{
    width: 100%;
    height: 80px;
    background-color: #7d7d7d;
}

#small-carousel 
{
    width: 250px;
    height: 60px;
    background-color: #c4c4c4;
    margin: auto; align-self: center;
    border-radius: 40px;
    text-align: center;
    text-emphasis: 3em;
}

section.large-carousel
{
    width: 100%;
    height: 600px;
    background-color: #d49d9d;
}

#shopInfo
{
    width: 25%;
    height: 70%;
    background-color: whitesmoke;
    border-radius: 40px;
    text-align: center;
    margin-left: 60px;
    margin-bottom: 60px;
    margin-top: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 175%;
}

#save
{
    width: 60%;
    height: 5%;
    background-color: white;
    stroke-width: 2pt;
    border-radius: 20px;
    text-align: center;   
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.7rem;

}

#order-ahead
{
    width: 30%;
    height: 5%;
    background-color: red;
    border-radius: 20px;
    text-align: center; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.8rem;
}

Section.ad-bar
{
    width: 100%;
    height: 200px;
    background-color: rgb(223, 202, 202);
}

section.blank-space
{
    width: 100%;
    height: 375px;
    background-color: white;
}

section.menu
{
    width: 100%;
    height: 500px;
    background-color: #d9dddf;
}

#bottom
{
    width: 100%;
    height: 450px;
    background-color: #737573;
}

.copyright
{
    width: 300px;
    height: 90px;
    text-align: right;
}

#bottom{
    margin-top: 10%;
}

#bottom h3{
    font-family: Impact, Haettenschweiler, sans-serif;
    font-size: 17px;
    margin-bottom: 10%;
    
}
.pages {
    display: table-column;
    text-align: center;
    width: auto;
}