html {
  margin: 0;
  padding: 0;
}

/*---------Navigation-------*/
#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
}

.navbar-brand {
  height: 50%;
  padding-left: 30px;
}

.navbar-nav li {
  padding: 0 10px;
}

.navbar-nav li a {
  float: right;
  text-align: left;
}

#nav-bar ul li a:hover {
  color: #02a342 !important;
}

.navbar-brand {
  background: clear;
}

.navbar-toggler {
  border: none !important;
}

.nav-link {
  color: #b0031b !important;
  font-weight: 600;
  font-size: 16px;
}

/*----Slider----*/

#slider {
  width: 100%;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: block !important;
  padding: 30 !important;
}

#shopInfo {
  width: 25%;
  height: 70%;
  background-color: whitesmoke;
  border-radius: 40px;
  text-align: center;
  margin-left: 60px;
  margin-bottom: 60px;
  margin-top: 60px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 175%;
}

/*-------Promo------*/

#promo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/promo/img1.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  background-attachment: fixed;
  text-align: center;
  padding: 100px;
  font-family: sans-serif;
  font-size: 38px;
}

/*------Menu-------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
#top-menu {
  padding-top: 30px;
}

.menu-image {
  padding: 70px;
}

.menu-image .img-box {
  opacity: 1;
}

.img-box img {
  filter: grayscale(0);
  cursor: pointer;
  border-radius: 15px;
  max-width: 180px;
  margin-right: 30px;
  border: 1px solid #02a342;
  padding: 3px;
}

.menu-image .img-box img:hover {
  filter: grayscale(1);
}

.menu-image h2 {
  font-size: 22px;
  font-weight: bold;
  margin-top: 15px;
  color: #b0031b !important;
  text-align: center;
}

.menu-image h3 {
  font-size: 15px;
  font-weight: bold;
  margin-top: 15px;
}

.section,
.blank-space {
  width: 100%;
  height: 375px;
  background-color: #02a342;
}

/*------Menu2-------*/
#menu {
  font-family: "Poppins", sans-serif;
}

.wrapper {
  width: 1200px;
  margin: 100px auto;
  padding-left: 20px;
  padding-right: 20px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.title {
  text-align: center;
  margin-bottom: 60px;
}

.title h4 {
  text-transform: capitalize;
  font-size: 36px;
  position: relative;
  display: inline-block;
  padding-top: 30px;
}

.title h4 span {
  display: block;
  font-size: 18px;
  font-style: italic;
  margin-bottom: -15px;
  padding: 10px;
}

.title h4::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 2px;
  background-color: #02a342;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.title h1::before {
  position: relative;
  content: "";
  width: 100px;
  height: 2px;
  background-color: #02a342;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.single-menu {
  flex-basis: 580px;
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #ddd;
}

.single-menu:nth-child(5),
.single-menu:nth-child(5) {
  border-bottom: 0;
}

.single-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.single-menu:hover img {
  border-radius: 0;
}

.single-menu img {
  max-width: 180px;
  margin-right: 30px;
  border-radius: 50%;
  border: 1px solid #02a342;
  padding: 3px;
  transition: 0.5s;
}

.single-menu h4 {
  text-transform: capitalize;
  font-size: 22px;
  border-bottom: 1px dashed #b0031b;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.single-menu h4 span {
  float: right;
  color: #b0021b;
  font-size: italic;
}

#about-us {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #b0031b;
  text-align: center;
}

.about-content {
  padding-top: 20px;
}

/*--Contact Us--*/
#contact {
  background: #efefef;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #777;
  text-align: center;
}

.contact-form {
  padding: 50px;
}
.contact-form {
  padding: 15px;
}

.form-control {
  border-radius: 0 !important;
  border: none !important;
}

.contact-info .fa {
  margin: 10px;
  color: #02a342;
  font-weight: bold;
}

.follow {
  background: #fff;
  padding: 10px;
  margin: 15px;
}

#footer {
  background: gray;
  color: #fff;
  padding: 12px;
  font-size: 5px;
  opacity: inherit;
}
