*
{
    margin: 0;
    padding: 0;
}

/*---------Navigation-------*/
#nav-bar 
{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand
{
    height: 20px;
    padding-left: 30px;
    font-family: cursive;
}

.navbar-nav li
{
    padding: 0 10px;
}

.navbar-nav li
{
    float: right;
    text-align: left;
}

#nav-bar ul li a:hover
{
    color: #007bff!important;
}

.navbar-brand
{
    background:;
}

.navbar-toggler
{
    border: none!important;
}

.nav-link
{
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
}

/*----Slider----*/
#slider
{
    width: 100%;
}

@media (max-width: 688px) {
    .carousel-item>img {
        max-height: 146;
    }
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: block !important;
}






#shopInfo
{
    width: 25%;
    height: 70%;
    background-color: whitesmoke;
    border-radius: 40px;
    text-align: center;
    margin-left: 60px;
    margin-bottom: 60px;
    margin-top: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 175%;
}

#save
{
    width: 60%;
    height: 5%;
    background-color: white;
    stroke-width: 2pt;
    border-radius: 20px;
    text-align: center;   
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.7rem;

}

#order-ahead
{
    width: 30%;
    height: 5%;
    background-color: red;
    border-radius: 20px;
    text-align: center; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.8rem;
}


section.blank-space
{
    width: 100%;
    height: 375px;
    background-color: white;
}

section.menu
{
    width: 100%;
    height: 500px;
    background-color: #d9dddf;
}

#about
{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}

.about-content
{
    padding-top: 20px;
}

.h2
{
    text-align: center;
}

/* CSS reset. Source: https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
    box-sizing: flex;
    font-size: 10px;
}
   *,
   *::before,
   *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


.grid-child {
    background-color: lightseagreen;
    border: 1px solid black;
    padding: 10px;
}

.grid-container {
    display: grid;
    font-size: 30px;
    margin: 30px;
}



.copyright
{
    width: 300px;
    height: 90px;
    text-align: right;
}